[Unit]
Description=Freefall main portal server
After=network.target

[Service]
ExecStart=/bin/bash -ce "exec /usr/bin/node /opt/freefall/server.js > /opt/freefall/logs/server_stdout.log 2> /opt/freefall/logs/server_stderr.log"
Restart=always
RestartSec=3
EnvironmentFile=/opt/freefall/freefall.env

[Install]
WantedBy=multi-user.target
