[Unit]
Description=Freefall admin portal
After=network.target

[Service]
ExecStart=/opt/freefall/scripts/run-admin.sh
Restart=always
RestartSec=3
EnvironmentFile=/opt/freefall/freefall-admin.env

[Install]
WantedBy=multi-user.target
