@media screen and (min-width: 400px) {
    .fixed-form-height {
        height: 50px;
    }

    #bootstrap-overrides .form-group * {
        height: 100%;
    }
}


.centered-row {
    display: flex;
    align-items: center;
}

li {
	list-style-type: none;
}

td {
  text-align: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.top-buffer {
    margin-top: 2%
}

.bottom-buffer {
    margin-bottom: 2%;
}
