<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account transfers reports</title>
  <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--   <link href="../css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{prev_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{next_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
    <table id="account-transfers-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>User</th>
          <th>Transfer amount</th>
          <th>Transferred at</th>
          <th>More information</th>
        </tr>
      </thead>
      <tbody>
        {{#each account_transfers}}
        <tr>
          <td>
            {{this.account_transfer_id}}
          </td>
          <td>
            <a href="/users/{{this.user.id}}">{{this.user.email}}</a>
          </td>
          <td>
            {{this.transfer_amount}}
          </td>
          <td>
            {{this.transferred_at}}
          </td>
          <td>
            {{#if employee_transferrer_id}}
              <p><label>Type:</label> by employee</p>
              <p><label>Employee:</label> <a href="/users/{{this.employee_transferrer_id}}">{{this.employee_transferrer_email}}</a></p>
            {{/if}}
            {{#if user_subscr_airport_from_name}}
              <p><label>Type:</label> new subscription</p>
              <p><label>Airport from:</label> {{user_subscr_airport_from_name}}</p>
              <p><label>Airport to:</label> {{user_subscr_airport_to_name}}</p>
              <p><label>Date from:</label> {{user_subscr_date_from}}</p>
              <p><label>Date to:</label> {{user_subscr_date_to}}</p>
            {{/if}}
            {{#if fetch_time}}
              <p><label>Type:</label> fetch</p>
              <p><label>Fetch time:</label> {{fetch_time}}</p>
              <p><label>Airport from:</label> {{subscr_airport_from_name}}</p>
              <p><label>Airport to:</label> {{subscr_airport_to_name}}</p>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{prev_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{next_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
<!--     <p id="no-fetches-msg" class="text-center" hidden="true">No fetches found</p> -->
    <p><label>Credits spent by all users:</label> {{users_total_spent_credits}}</p>
    <p><label>Credits owned by all users:</label> {{users_total_credits}}</p>
    <p><label>Credits loaded into system:</label> {{total_credits_loaded}}</p>
    <p><label>Amount of requests to Dalipeche:</label> {{dalipeche_api_total_requests}}</p>
  </div>
</body>
</html>
