<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account transfers reports</title>
  <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/jquery-ui.css" rel="stylesheet">
  <link href="./css/jquery.datetimepicker.min.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    {{> messages }}
    <div class="row">
      <h3>Filter:</h3>
      <form action="/transfers" method="get">
        <div class="col-md-6">
          <div class="form-group">
            <label>User email:</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="email" name="filter-user" placeholder="Email" value="{{ filters.user }}">
              </div>
              <div class="col-md-6">
                <select name="grouping-user" class="form-control">
                  <option value="none" {{ is_selected groupings.user "none" }}>No grouping</option>
                  <option value="user" {{ is_selected groupings.user "user" }}>Group by user</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Type of transaction</label>
            <div class="row">
              <div class="col-md-6">
                <select name="filter-type" class="form-control">
                  <option value="all" {{ is_selected filters.type "all" }}>All</option>
                  <option value="deposits" {{ is_selected filters.type "deposits" }}>Only deposits</option>
                  <option value="withdrawals" {{ is_selected filters.type "withdrawals" }}>Only withdrawals</option>
                </select>
              </div>
              <div class="col-md-6">
                <select name="grouping-type" class="form-control">
                  <option value="none" {{ is_selected groupings.type "none" }}>No grouping</option>
                  <option value="type" {{ is_selected groupings.type "type" }}>Group by transfer type</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Reason for transaction:</label>
            <div class="row">
              <div class="col-md-6">
                <select name="filter-reason" class="form-control">
                  <option value="all" {{ is_selected filters.reason "all" }}>All</option>
                  <option value="employee" {{ is_selected filters.reason "employee" }}>Only transfers by employes</option>
                  <option value="new-subscription" {{ is_selected filters.reason "new-subscription" }}>Only new subscription taxes</option>
                  <option value="fetch" {{ is_selected filters.reason "fetch" }}>Only fetch taxes</option>
                </select>
              </div>
              <div class="col-md-6">
                <select name="grouping-reason" class="form-control">
                  <option value="none" {{ is_selected groupings.reason "none" }}>No grouping</option>
                  <option value="reason" {{ is_selected groupings.reason "reason" }}>Group by transfer reason</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Time from:</label>
                <input id="filter-transferred-at-from" name="filter-transferred-at-from" class="form-control" type="text" value="{{ filters.transferred_at_from }}">
              </div>
              <div class="col-md-4">
                <label>Time to:</label>
                <input id="filter-transferred-at-to" name="filter-transferred-at-to" class="form-control" type="text" value="{{ filters.transferred_at_to }}">
              </div>
              <div class="col-md-4">
                <label>Group by</label>
                <div class="form-group">
                  <select name="grouping-transferred-at" class="form-control">
                    <option value="none" {{ is_selected groupings.transferred_at "none" }}>No grouping</option>
                    <option value="second" {{ is_selected groupings.transferred_at "second" }}>Group by seconds</option>
                    <option value="minute" {{ is_selected groupings.transferred_at "minute" }}>Group by minutes</option>
                    <option value="hour" {{ is_selected groupings.transferred_at "hour" }}>Group by hours</option>
                    <option value="day" {{ is_selected groupings.transferred_at "day" }}>Group by days</option>
                    <option value="week" {{ is_selected groupings.transferred_at "week" }}>Group by weeks</option>
                    <option value="month" {{ is_selected groupings.transferred_at "month" }}>Group by months</option>
                    <option value="year" {{ is_selected groupings.transferred_at "year" }}>Group by years</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <h4>Data fetches</h4>
          <div class="form-group">
            <label>Departure airport</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="text" name="filter-subscr-airport-from" placeholder="Airport" value="{{ filters.subscr_airport_from}}">
              </div>
              <div class="col-md-6">
                <select name="grouping-subscr-airport-from" class="form-control">
                  <option value="none" {{ is_selected groupings.subscr_airport_from "none" }}>No grouping</option>
                  <option value="airport" {{ is_selected groupings.subscr_airport_from "airport" }}>Group by subscription departure airport</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Arrival airport</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="text" name="filter-subscr-airport-to" placeholder="Airport" value="{{ filters.subscr_airport_to }}">
              </div>
              <div class="col-md-6">
                <select name="grouping-subscr-airport-to" class="form-control">
                  <option value="none" {{ is_selected groupings.subscr_airport_to "none" }}>No grouping</option>
                  <option value="airport" {{ is_selected groupings.subscr_airport_to "airport" }}>Group by subscription arrival airport</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Time from</label>
                <input id="filter-fetch-time-from" class="form-control" type="text" name="filter-fetch-time-from" placeholder="Fetch time from" value="{{ filters.fetch_time_from }}">
              </div>
              <div class="col-md-4">
                <label>Time to</label>
                <input id="filter-fetch-time-to" class="form-control" type="text" name="filter-fetch-time-to" placeholder="Fetch time to" value="{{  filters.fetch_time_to }}">
              </div>
              <div class="col-md-4">
                <label>Group by:</label>
                <select name="grouping-fetch-time" class="form-control">
                  <option value="none" {{ is_selected groupings.fetch_time "none" }}>No grouping</option>
                  <option value="second" {{ is_selected groupings.fetch_time "second" }}>Group fetch time by second</option>
                  <option value="minute" {{ is_selected groupings.fetch_time "minute" }}>Group fetch time by minute</option>
                  <option value="hour" {{ is_selected groupings.fetch_time "hour" }}>Group fetch time by hour</option>
                  <option value="day" {{ is_selected groupings.fetch_time "day" }}>Group fetch time by day</option>
                  <option value="week" {{ is_selected groupings.fetch_time "week" }}>Group fetch time by week</option>
                  <option value="month" {{ is_selected groupings.fetch_time "month" }}>Group fetch time by month</option>
                  <option value="year" {{ is_selected groupings.fetch_time "year" }}>Group fetch time by year</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Employee transferrer email:</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="email" name="filter-employee-email" placeholder="Email" value="{{ filters.employee_email }}">
              </div>
              <div class="col-md-6">
                <select name="grouping-employee" class="form-control">
                  <option value="none" {{ is_selected groupings.employee "none" }}>No grouping</option>
                  <option value="employee" {{ is_selected groupings.employee "employee" }}>Group by employee</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <h4>User subscriptions</h4>
          <div class="form-group">
            <label>Departure airport</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="text" name="filter-user-subscr-airport-from" placeholder="Airport" value="{{ filters.user_subscr_airport_from }}">
              </div>
              <div class="col-md-6">
                <select name="grouping-user-subscr-airport-from" class="form-control">
                  <option value="none" {{ is_selected groupings.user_subscr_airport_from "none" }}>No grouping</option>
                  <option value="airport" {{ is_selected groupings.user_subscr_airport_from "airport" }}>Group by user subscription departure airport</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Arrival airport</label>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" type="text" name="filter-user-subscr-airport-to" placeholder="Airport" value="{{ filters.user_subscr_airport_to }}">
              </div>
              <div class="col-md-6">
              <select name="grouping-user-subscr-airport-to" class="form-control">
                <option value="none" {{ is_selected groupings.user_subscr_airport_to "none" }}>No grouping</option>
                <option value="airport" {{ is_selected groupings.user_subscr_airport_to "airport" }}>Group by user subscription arrival airport</option>
              </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Departure time from</label>
                <input id="filter-user-subscr-depart-time-from" class="form-control" type="text" name="filter-user-subscr-depart-time-from" placeholder="Departure time from" value="{{ filters.user_subscr_depart_time_from }}">
              </div>
              <div class="col-md-4">
                <label>Departure time to</label>
                <input id="filter-user-subscr-depart-time-to" class="form-control" type="text" name="filter-user-subscr-depart-time-to" placeholder="Departure time to" value="{{ filters.user_subscr_depart_time_to }}">
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Group by</label>
                  <select name="grouping-user-subscr-date-from" class="form-control">
                    <option value="none" {{ is_selected groupings.user_subscr_date_from "none" }}>No grouping</option>
                    <option value="week" {{ is_selected groupings.user_subscr_date_from "week" }}>Group user subscription date from by week</option>
                    <option value="month" {{ is_selected groupings.user_subscr_date_from "month" }}>Group user subscription date from by month</option>
                    <option value="year" {{ is_selected groupings.user_subscr_date_from "year" }}>Group user subscription date from by year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label>Arrival time from</label>
                <input id="filter-user-subscr-arrival-time-from" class="form-control" type="text" name="filter-user-subscr-arrival-time-from" placeholder="Arrival time from" value="{{ filters.user_subscr_arrival_time_from }}">
              </div>
              <div class="col-md-4">
                <label>Arrival time to</label>
                <input id="filter-user-subscr-arrival-time-to" class="form-control" type="text" name="filter-user-subscr-arrival-time-to" placeholder="Arrival time to" value="{{ filters.user_subscr_arrival_time_to }}">
              </div>
              <div class="col-md-4">
                <label>Group by</label>
                <select name="grouping-user-subscr-date-to" class="form-control">
                  <option value="none" {{ is_selected groupings.user_subscr_date_to "none" }}>No grouping</option>
                  <option value="week" {{ is_selected groupings.user_subscr_date_to "week" }}>Group user subscription date to by week</option>
                  <option value="month" {{ is_selected groupings.user_subscr_date_to "month" }}>Group user subscription date to by month</option>
                  <option value="year" {{ is_selected groupings.user_subscr_date_to "year" }}>Group user subscription date to by year</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit">
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Current filter data:</h3>
        <p><label>Total deposited:</label> {{filter_total_deposited}}</p>
        <p><label>Total withdrawn:</label> {{filter_total_withdrawn}}</p>
        <button id="export-xlsx-btn" class="btn btn-primary">Export as XLSX</button>
      </div>
      <div class="col-md-6">
        <p><label>Credits spent by all users:</label> {{users_total_spent_credits}}</p>
        <p><label>Credits owned by all users:</label> {{users_total_credits}}</p>
        <p><label>Credits loaded into system:</label> {{total_credits_loaded}}</p>
        <p><label>Amount of requests to Dalipeche:</label> {{dalipeche_api_total_requests}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{prev_page}}{{query_string_without_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{next_page}}{{query_string_without_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
    <div class="table-wrap">
      <table id="account-transfers-table" class="table table-bordered">
        <thead>
          <tr>
            {{#if active_columns.grouped_amount}}
              <th>Grouped amount</th>
            {{/if}}
            {{#if active_columns.transferred_at}}
              <th>Transferred at</th>
            {{/if}}
            {{#if active_columns.type}}
              <th>Transfer type</th>
            {{/if}}
            {{#if active_columns.reason}}
              <th>Transfer reason</th>
            {{/if}}
            {{#if active_columns.account_owner_id}}
              <th>User id</th>
            {{/if}}
            {{#if active_columns.account_owner_email}}
              <th>User email</th>
            {{/if}}
            {{#if active_columns.subscr_airport_from_name}}
              <th>Subscription airport from</th>
            {{/if}}
            {{#if active_columns.subscr_airport_to_name}}
              <th>Subscription airport to</th>
            {{/if}}
            {{#if active_columns.fetch_time}}
              <th>Fetch time</th>
            {{/if}}
            {{#if active_columns.employee_transferrer_id}}
              <th>Employee transferrer id</th>
            {{/if}}
            {{#if active_columns.employee_transferrer_email}}
              <th>Employee transferrer email</th>
            {{/if}}
            {{#if active_columns.user_subscr_airport_from_name}}
              <th>User subscription airport from</th>
            {{/if}}
            {{#if active_columns.user_subscr_airport_to_name}}
              <th>User subscription airport to</th>
            {{/if}}
            {{#if active_columns.user_subscr_date_from}}
              <th>User subscription date from</th>
            {{/if}}
            {{#if active_columns.user_subscr_date_to}}
              <th>User subscription date to</th>
            {{/if}}
            {{#if active_columns.deposit_amount}}
              <th>Deposits</th>
            {{/if}}
            {{#if active_columns.withdrawal_amount}}
              <th>Withdrawals</th>
            {{/if}}
            {{#if active_columns.account_transfer_id}}
              <th>Account transfer id</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each account_transfers}}
          <tr>
            {{#if ../active_columns.grouped_amount}}
              <td>
                {{this.grouped_amount}}
              </td>
            {{/if}}
            {{#if ../active_columns.transferred_at}}
              <td>
                {{this.transferred_at}}
              </td>
            {{/if}}
            {{#if ../active_columns.type}}
              <td>
                {{this.type}}
              </td>
            {{/if}}
            {{#if ../active_columns.reason}}
              <td>
                {{this.reason}}
              </td>
            {{/if}}
            {{#if ../active_columns.account_owner_id}}
              <td class="text-right">
                {{this.account_owner_id}}
              </td>
            {{/if}}
            {{#if ../active_columns.account_owner_email}}
              <td>
                {{this.account_owner_email}}
                <a href="/users/{{this.account_owner_id}}">(open)</a>
              </td>
            {{/if}}
            {{#if ../active_columns.subscr_airport_from_name}}
              <td>
                {{this.subscr_airport_from_name}}
              </td>
            {{/if}}
            {{#if ../active_columns.subscr_airport_to_name}}
              <td>
                {{this.subscr_airport_to_name}}
              </td>
            {{/if}}
            {{#if ../active_columns.fetch_time}}
              <td>
                {{this.fetch_time}}
              </td>
            {{/if}}
            {{#if ../active_columns.employee_transferrer_id}}
              <td>
                {{this.employee_transferrer_id}}
              </td>
            {{/if}}
            {{#if ../active_columns.employee_transferrer_email}}
              <td>
                {{this.employee_transferrer_email}}
                {{#if this.employee_transferrer_id}}
                  <a href="/employees/{{this.employee_transferrer_id}}">(open)</a>
                {{/if}}
              </td>
            {{/if}}
            {{#if ../active_columns.user_subscr_airport_from_name}}
              <td>
                {{this.user_subscr_airport_from_name}}
              </td>
            {{/if}}
            {{#if ../active_columns.user_subscr_airport_to_name}}
              <td>
                {{this.user_subscr_airport_to_name}}
              </td>
            {{/if}}
            {{#if ../active_columns.user_subscr_date_from}}
              <td>
                {{this.user_subscr_date_from}}
              </td>
            {{/if}}
            {{#if ../active_columns.user_subscr_date_to}}
              <td>
                {{this.user_subscr_date_to}}
              </td>
            {{/if}}
            {{#if ../active_columns.deposit_amount}}
              <td class="text-right">
                {{this.deposit_amount}}
              </td>
            {{/if}}
            {{#if ../active_columns.withdrawal_amount}}
              <td class="text-right">
                {{this.withdrawal_amount}}
              </td>
            {{/if}}
            {{#if ../active_columns.account_transfer_id}}
              <td class="text-right">
                {{this.account_transfer_id}}
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{prev_page}}{{query_string_without_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/transfers?page={{next_page}}{{query_string_without_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
  </div>
  <script src="../js/lodash/index.min.js"></script>
  <script src="../js/ajv.min.js"></script>
  <script src="../js/js-yaml/js-yaml.min.js"></script>
  <script src="../js/json-schemas.js"></script>
  <script src="../js/admin-json-schemas.js"></script>
  <script src="../js/parsers.js"></script>
  <script src="../js/api-methods.js"></script>
  <script src="../js/admin-api-methods.js"></script>
  <script src="../js/main.js"></script>
  <script src="./js/jquery/jquery-2.2.4.js"></script>
  <script src="./js/jquery-ui.min.js"></script>
  <script src="./js/jquery.datetimepicker.full.min.js"></script>
  <script src="./js/jquery.datetimepicker.min.js"></script>
  <script>
    var filtersGlobal = {
      user: _.unescape('{{{escape filters.user}}}'),
      transferred_at_from: _.unescape('{{{escape filters.transferred_at_from}}}'),
      transferred_at_to: _.unescape('{{{escape filters.transferred_at_to}}}'),
      type: _.unescape('{{{escape filters.type}}}'),
      reason: _.unescape('{{{escape filters.reason}}}'),
      transferred_at_from: _.unescape('{{{escape filters.transferred_at_from}}}'),
      transferred_at_to: _.unescape('{{{escape filters.transferred_at_to}}}'),
      subscr_airport_from: _.unescape('{{{escape filters.subscr_airport_from}}}'),
      subscr_airport_to: _.unescape('{{{escape filters.subscr_airport_to}}}'),
      fetch_time_from: _.unescape('{{{escape filters.fetch_time_from}}}'),
      fetch_time_to: _.unescape('{{{escape filters.fetch_time_to}}}'),
      employee_email: _.unescape('{{{escape filters.employee_email}}}'),
      user_subscr_airport_from: _.unescape('{{{escape filters.user_subscr_airport_from}}}'),
      user_subscr_airport_to: _.unescape('{{{escape filters.user_subscr_airport_to}}}'),
      user_subscr_depart_time_from: _.unescape('{{{escape filters.user_subscr_depart_time_from}}}'),
      user_subscr_depart_time_to: _.unescape('{{{escape filters.user_subscr_depart_time_to}}}'),
      user_subscr_arrival_time_from: _.unescape('{{{escape filters.user_subscr_arrival_time_from}}}'),
      user_subscr_arrival_time_to: _.unescape('{{{escape filters.user_subscr_arrival_time_to}}}'),
    };

    var groupingsGlobal = {
      user: _.unescape('{{{escape groupings.user}}}'),
      transferred_at: _.unescape('{{{escape groupings.transferred_at}}}'),
      employee: _.unescape('{{{escape groupings.employee}}}'),
      user_subscr_airport_from: _.unescape('{{{escape groupings.user_subscr_airport_from}}}'),
      user_subscr_airport_to: _.unescape('{{{escape groupings.user_subscr_airport_to}}}'),
      user_subscr_date_from: _.unescape('{{{escape groupings.user_subscr_date_from}}}'),
      user_subscr_date_to: _.unescape('{{{escape groupings.user_subscr_date_to}}}'),
      subscr_airport_from: _.unescape('{{{escape groupings.subscr_airport_from}}}'),
      subscr_airport_to: _.unescape('{{{escape groupings.subscr_airport_to}}}'),
      fetch_time: _.unescape('{{{escape groupings.fetch_time}}}'),
      type: _.unescape('{{{escape groupings.type}}}'),
      reason: _.unescape('{{{escape groupings.reason}}}'),
    };

    var queryStringWithoutPage = _.unescape('{{{escape query_string_without_page}}}');
  </script>
  <script src="./js/xlsx.full.min.js"></script>
  <script src="./js/account-transfers.js"></script>
</body>
</html>
