<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change password</title>
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    <div class="col-md-4 col-md-offset-4">
      <h3 class="text-center">Change your password</h3>
      <hr>
      <form method="post" action="/change_password">
        <div class="form-group">
          <div class="form-group fixed-form-height">
            <label for="old-password">Old password</label>
            <input id="old-password" class="form-control" placeholder="Old password" name="old-password" type="password" required>
          </div>
          <div class="form-group fixed-form-height">
            <label for="new-password">New password</label>
            <input id="new-password" class="form-control" name="new-password" placeholder="New password" type="password" autocomplete="new-password" required>
          </div>
          <div class="form-group fixed-form-height">
            <label for="confirm-new-password">Confirm new password</label>
            <input id="confirm-new-password" class="form-control" name="confirm-new-password" placeholder="Confirm new password" type="password" autocomplete="new-password" required>
          </div>
          <div class="form-group fixed-form-height text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          {{> auth_message_success }}
          {{> auth_message_error }}
        </div>
      </form>
    </div>
  </div>
  <script src="js/jquery/jquery-2.2.4.js"></script>
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
