<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fetches</title>
  <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--   <link href="../css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/fetches?page={{prev_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/fetches?page={{next_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
    <table id="fetches-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Timestamp</th>
          <th>KIWI API requests</th>
        </tr>
      </thead>
      <tbody>
        {{#each fetches}}
        <tr>
          <td class="text-right">
            {{this.id}}
          </td>
          <td>
            {{this.timestamp}}
          </td>
          <td class="text-right">
            {{this.api_requests}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-4">
        {{#if prev_page}}
        <p class="text-left">
          <button class="btn btn-default" onclick="location.href='/fetches?page={{prev_page}}';">Previous page</button>
        </p>
        {{/if}}
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Page:
          <label>{{page}}</label>
        </p>
      </div>
      <div class="col-md-4">
        {{#if next_page}}
        <p class="text-right">
          <button class="btn btn-default" onclick="location.href='/fetches?page={{next_page}}';">Next page</button>
        </p>
        {{/if}}
      </div>
    </div>
    <p>
      <label>Total KIWI API requests:</label> {{totalAPIRequests}}
    </p>
<!--     <p id="no-fetches-msg" class="text-center" hidden="true">No fetches found</p> -->
  </div>
</body>
</html>
