<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Subscriptions</title>
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery-ui.css" rel="stylesheet">
<!--   <link href="css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    <div>
      <h3>Add new guest subscription:</h3>
      <div class="row">
        <div class="col-md-2">
          <input id="subscribe-airport-from" class="form-control airport-select" name="from" type="text" placeholder="Airport from" list="from-airports" required>
        </div>
        <div class="col-md-2">
          <input id="subscribe-airport-to" name="to" class="form-control airport-select" type="text" placeholder="Airport to" list="to-airports" required>
        </div>
        <div class="col-md-4">
          <button id="subscribe-submit-btn" class="btn btn-primary btn-block">Subscribe</button>
        </div>
      </div>
    </div>
    <hr>
    {{> messages }}
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a id="user-subscriptions-tab" href="#">Users' subscriptions</a></li>
      <li role="presentation"><a id="guest-subscriptions-tab" href="#">Guest subscriptions</a></li>
    </ul>
    <div id="user-subscriptions-section">
      <h3>Users' subscriptions:</h3>
      <div class="row">
        <div class="col-md-4">
          <p class="text-left">
            <button class="btn btn-default" id="user-subscriptions-prev-page-btn">Previous page</button>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            Page:
            <label id="user-subscriptions-current-page-label"></label>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-right">
            <button class="btn btn-default" id="user-subscriptions-next-page-btn">Next page</button>
          </p>
        </div>
      </div>
      <table id="user-subscriptions-table" class="table table-bordered" hidden="true">
        <thead>
          <tr>
            <th>User</th>
            <th>Airport from</th>
            <th>Airport to</th>
            <th>Date from</th>
            <th>Date to</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr id="user-subscription-edit-mode" hidden="true">
            <td>
              <a id="user-subscription-edit-mode-user-email" href=""></a>
            </td>
            <td>
              <input id="user-subscription-edit-mode-airport-from" class="form-control" name="from" type="text" placeholder="Airport from" required>
            </td>
            <td>
              <input id="user-subscription-edit-mode-airport-to" name="to" class="form-control" type="text" placeholder="Airport to" required>
            </td>
            <td>
              <input id="user-subscription-edit-mode-date-from" class="form-control" name="date-from" type="text" placeholder="Date from" value="" required>
            </td>
            <td>
              <input id="user-subscription-edit-mode-date-to" name="date-to" class="form-control" type="text" placeholder="Date to" value="" required>
            </td>
            <td>
              <span id="user-subscription-edit-mode-created-at"></span>
            </td>
            <td>
              <span id="user-subscription-edit-mode-updated-at"></span>
            </td>
            <td>
              <button id="user-subscription-edit-mode-save-btn" type="button" class="btn btn-primary">Save</button>
              <button id="user-subscription-edit-mode-cancel-btn" type="button" class="btn btn-default">Cancel</button>
              <button id="user-subscription-edit-mode-remove-btn" type="button" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          <tr id="user-subscription-view-mode" hidden="true">
            <td>
              <a id="user-subscription-view-mode-user-email" href=""></a>
            </td>
            <td>
              <span id="user-subscription-view-mode-airport-from"></span>
            </td>
            <td>
              <span id="user-subscription-view-mode-airport-to"></span>
            </td>
            <td>
              <span id="user-subscription-view-mode-date-from"></span>
            </td>
            <td>
              <span id="user-subscription-view-mode-date-to"></span>
            </td>
            <td>
              <span id="user-subscription-view-mode-created-at"></span>
            </td>
            <td>
              <span id="user-subscription-view-mode-updated-at"></span>
            </td>
            <td>
              <button id="user-subscription-view-mode-edit-btn" type="button" class="btn btn-primary btn-block">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="guest-subscriptions-section" hidden="true">
      <h3>Guest subscriptions:</h3>
      <div class="row">
        <div class="col-md-4">
          <p class="text-left">
            <button class="btn btn-default" id="guest-subscriptions-prev-page-btn">Previous page</button>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            Page:
            <label id="guest-subscriptions-current-page-label"></label>
          </p>
        </div>
        <div class="col-md-4">
          <p class="text-right">
            <button class="btn btn-default" id="guest-subscriptions-next-page-btn">Next page</button>
          </p>
        </div>
      </div>
      <table id="guest-subscriptions-table" class="table table-bordered" hidden="true">
        <thead>
          <tr>
            <th>Airport from</th>
            <th>Airport to</th>
            <th>Created at</th>
            <td>Updated at</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr id="guest-subscription-edit-mode" hidden="true">
            <td>
              <input id="guest-subscription-edit-mode-airport-from" class="form-control" name="from" type="text" placeholder="Airport from" required>
            </td>
            <td>
              <input id="guest-subscription-edit-mode-airport-to" class="form-control" name="to" type="text" placeholder="Airport to" required>
            </td>
            <td>
              <span id="guest-subscription-edit-mode-created-at"></span>
            </td>
            <td>
              <span id="guest-subscription-edit-mode-updated-at"></span>
            </td>
            <td>
              <button id="guest-subscription-edit-mode-save-btn" type="button" class="btn btn-primary">Save</button>
              <button id="guest-subscription-edit-mode-cancel-btn" type="button" class="btn btn-default">Cancel</button>
              <button id="guest-subscription-edit-mode-remove-btn" type="button" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          <tr id="guest-subscription-view-mode" hidden="true">
            <td>
              <span id="guest-subscription-view-mode-airport-from"></span>
            </td>
            <td>
              <span id="guest-subscription-view-mode-airport-to"></span>
            </td>
            <td>
              <span id="guest-subscription-view-mode-created-at"></span>
            </td>
            <td>
              <span id="guest-subscription-view-mode-updated-at"></span>
            </td>
            <td>
              <button id="guest-subscription-view-mode-edit-btn" type="button" class="btn btn-primary btn-block">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p id="no-subscriptions-msg" class="text-center" hidden="true">No subscriptions found</p>
  </div>
  <script src="js/lodash/index.min.js"></script>
  <script src="js/jquery/jquery-2.2.4.js"></script>
  <script src="css/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/autocomplete-plugin.js"></script>
  <script src="js/ajv.min.js"></script>
  <script src="js/js-yaml/js-yaml.min.js"></script>
  <script src="js/json-schemas.js"></script>
  <script src="js/admin-json-schemas.js"></script>
  <script src="js/parsers.js"></script>
  <script src="js/api-methods.js"></script>
  <script src="js/admin-api-methods.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript" src="js/subscriptions.js"></script>
</body>
</html>
