<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <link href="../css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/jquery-ui.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
  <!--   <link href="../css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    {{> messages }}
    {{> loader }}
    <form id="edit-user"></form>
    <table id="users-table" class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Password</th>
          <th>Credits</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr id="user-edit-mode" hidden>
          <td class="text-right">
            <span id="user-edit-mode-id"></span>
          </td>
          <td>
            <input id="user-edit-mode-email" class="form-control" name="user-email" type="email" placeholder="Email" value="" form="edit-user">
          </td>
          <td>
            <input id="user-edit-mode-password" name="user-password" class="form-control" type="password" autocomplete="new-password" placeholder="Password" value="" form="edit-user">
          </td>
          <td class="text-right">
            <span id="user-edit-mode-credits"></span>
          </td>
          <td>
            <input id="user-edit-mode-save-btn" type="submit" form="edit-user" class="btn btn-primary">
            <button id="user-edit-mode-cancel-btn" type="button" class="btn btn-default">Cancel</button>
          </td>
        </tr>
        <tr id="user-view-mode">
          <td class="text-right">
            <span id="user-view-mode-id"></span>
          </td>
          <td>
            <span id="user-view-mode-email"></span>
          </td>
          <td>
            <span>****</span>
          </td>
          <td class="text-right">
            <span id="user-view-mode-credits"></span>
          </td>
          <td>
            <button id="user-view-mode-edit-btn" type="button" class="btn btn-primary">Edit</button>
            <button id="user-view-mode-remove-btn" type="button" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="confirm-remove-user-dialog" title="Remove user?" hidden>
      <p>Please confirm remove user!</p>
    </div>
    <div id="user-credits-options">
      <h3>User's credits</h3>
      <form id="change-credits" class="form-inline">
        <label>Change by: <input id="user-credits-change" class="form-control" type="number" name="credits-difference" value="0"></label>
        <input type="submit" id="user-credits-submit-btn" class="btn btn-default">
        <p>(value &gt; 0 to add credits or value &lt; 0 to remove credits)</p>
      </form>
    </div>
    <div id="user-subscriptions-section">
      <h3>User's subscriptions:</h3>
      <div id="user-subscriptions-results" hidden>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left">
              <button class="btn btn-default" id="prev-page-btn-top">Previous page</button>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              Page:
              <label id="current-page-label-top"></label>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-right">
              <button class="btn btn-default" id="next-page-btn-top">Next page</button>
            </p>
          </div>
        </div>
        <table id="user-subscriptions-table" class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Airport from</th>
              <th>Airport to</th>
              <th>Date from</th>
              <th>Date to</th>
              <th>Created at</th>
              <th>Updated at</th>
            </tr>
          </thead>
          <tbody>
            <tr id="user-subscription-view-mode" hidden>
              <td class="text-right">
                <span id="user-subscription-view-mode-id"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-airport-from"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-airport-to"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-date-from"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-date-to"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-created-at"></span>
              </td>
              <td>
                <span id="user-subscription-view-mode-updated-at"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left">
              <button class="btn btn-default" id="prev-page-btn-bottom">Previous page</button>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              Page:
              <label id="current-page-label-bottom"></label>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-right">
              <button class="btn btn-default" id="next-page-btn-bottom">Next page</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p id="no-subscriptions-msg" class="text-center" hidden>No subscriptions found</p>
  </div>
  {{> footer }}
  <script src="../js/lodash/index.min.js"></script>
  <script src="../js/jquery/jquery-2.2.4.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/ajv.min.js"></script>
  <script src="../js/js-yaml/js-yaml.min.js"></script>
  <script src="../js/autocomplete-plugin.js"></script>
  <script src="../js/json-schemas.js"></script>
  <script src="../js/admin-json-schemas.js"></script>
  <script src="../js/parsers.js"></script>
  <script src="../js/api-methods.js"></script>
  <script src="../js/admin-api-methods.js"></script>
  <script src="../js/main.js"></script>
  <script>
    var userGlobal = {
      id: _.unescape('{{{escape user_credentials.id}}}'),
      email: _.unescape('{{{escape user_credentials.email}}}'),
      credits: Number(_.unescape('{{{escape user_credentials.credits}}}')),
    };
  </script>
  <script src="../js/user.js"></script>
</body>
</html>
