<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!--   <link href="css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    {{> messages }}
    <div id="users-section">
      <h3>Users:</h3>
      <table id="users-table" class="table table-bordered" hidden="true">
        <thead>
          <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Credits</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr id="user-edit-mode" hidden="true">
            <td>
              <span id="user-edit-mode-id"></span>
            </td>
            <td>
              <input id="user-edit-mode-email" class="form-control" name="email" type="text" placeholder="Email" value="" required>
            </td>
            <td>
              <input id="user-edit-mode-password" name="date-to" class="form-control" type="password" placeholder="Password" value="" required>
            </td>
            <td>
              <span id="user-edit-mode-credits"></span>
            </td>
            <td>
              <button id="user-edit-mode-save-btn" type="button" class="btn btn-primary">Save</button>
              <button id="user-edit-mode-cancel-btn" type="button" class="btn btn-default">Cancel</button>
              <button id="user-edit-mode-remove-btn" type="button" class="btn btn-danger">Remove</button>
            </td>
          </tr>
          <tr id="user-view-mode" hidden="true">
            <td>
              <span id="user-view-mode-id"></span>
            </td>
            <td>
              <a id="user-view-mode-email" href=""></a>
            </td>
            <td>
              <span>****</span>
            </td>
            <td>
              <span id="user-view-mode-credits"></span>
            </td>
            <td>
              <button id="user-view-mode-edit-btn" type="button" class="btn btn-primary btn-block">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <p id="no-users-msg" class="text-center" hidden="true">No users found</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/lodash@3.10.1/index.min.js"></script>
  <script src="js/jquery/jquery-2.2.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/6.5.2/ajv.min.js"></script>
  <script src="js/js-yaml/js-yaml.min.js"></script>
  <script src="js/json-schemas.js"></script>
  <script src="js/admin-json-schemas.js"></script>
  <script src="js/parsers.js"></script>
  <script src="js/api-methods.js"></script>
  <script src="js/admin-api-methods.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript" src="js/users.js"></script>
</body>
</html>
