<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery-ui.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <!--   <link href="css/style.css" rel="stylesheet"> -->
</head>
<body>
  <div class="container">
    {{> heading }}
    {{> menu }}
    {{> messages }}
    {{> loader }}
    <div id="users-section">
      <h3>Users:</h3>
      <div id="users-results" hidden>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left">
              <button class="btn btn-default" id="prev-page-btn-top">Previous page</button>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              Page:
              <label id="current-page-label-top"></label>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-right">
              <button class="btn btn-default" id="next-page-btn-top">Next page</button>
            </p>
          </div>
        </div>
        <table id="users-table" class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Credits</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr id="user-view-mode" hidden>
              <td class="text-right">
                <span id="user-view-mode-id"></span>
              </td>
              <td>
                <span id="user-view-mode-email"></span>
              </td>
              <td class="text-right">
                <span id="user-view-mode-credits"></span>
              </td>
              <td>
                <button id="user-view-mode-open-btn" type="button" class="btn btn-primary btn-block">Open</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-4">
            <p class="text-left">
              <button class="btn btn-default" id="prev-page-btn-bottom">Previous page</button>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-center">
              Page:
              <label id="current-page-label-bottom"></label>
            </p>
          </div>
          <div class="col-md-4">
            <p class="text-right">
              <button class="btn btn-default" id="next-page-btn-bottom">Next page</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p id="no-users-msg" class="text-center" hidden>No users found</p>
  </div>
  <script src="js/lodash/index.min.js"></script>
  <script src="js/jquery/jquery-2.2.4.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/ajv.min.js"></script>
  <script src="js/js-yaml/js-yaml.min.js"></script>
  <script src="js/json-schemas.js"></script>
  <script src="js/admin-json-schemas.js"></script>
  <script src="js/parsers.js"></script>
  <script src="js/admin-api-methods.js"></script>
  <script src="js/main.js"></script>
  <script src="js/users.js"></script>
</body>
</html>
