<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Freefall</title>

  <!-- Bootstrap -->
  <link href="{{routes.static}}/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{routes.static}}/css/style.css" rel="stylesheet">
  <link href="{{routes.static}}/css/jquery-ui.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="bootstrap-overrides">
  <div class="container">
    {{> heading }}
    {{> menu }}
    <form id="flight-form" class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
          <div class="form-group fixed-form-height">
            <label for="from-input">Airport from:</label>
            <input id="from-input" class="form-control" name="from" type="text" placeholder="From" list="from-airports" required>

          </div>
          <div class="form-group fixed-form-height">
            <label for="to-input">Airport to:</label>
            <input id="to-input" name="to" class="form-control" type="text" placeholder="To" list="to-airports" required>
          </div>
          <div class="form-group fixed-form-height">
            <label for="date-from">Departure time:</label>
            <input id="date-from" class="form-control" name="date-from" type="text">
          </div>
          <div class="form-group fixed-form-height">
            <label for="date-to">Arrival time:</label>
            <input id="date-to" name="date-to" class="form-control" type="text">
          </div>
          <div class="form-group fixed-form-height">
            <label for="price-to">Max route price:</label>
            <input id="price-to" class="form-control" name="price-to" placeholder="max-price" min="0" type="number">
          </div>
          <div class="form-group fixed-form-height text-center">
            <button id="submit-button" type="submit" class="btn btn-primary btn-block">Search</button>
            <button id="clear-button" type="button" class="btn btn-danger btn-block">Clear</button>
          </div>
        </div>
        {{> messages }}
      </div>
    </form>
    <div id="weather-container" class="row text-center" hidden>
      <h3>The current weather in the selected airports:</h3>
      <div class="col-md-6">
        <p>Airport from:</p>
        <div id="dalipeche-airport-from"></div>
      </div>
      <div class="col-md-6">
        <p>Airport to:</p>
        <div id="dalipeche-airport-to"></div>
      </div>
    </div>
    <div id="routes-container" class="row">
      <div id="route" hidden class="row">
        <div class="row">
          <div class="col-md-1">
            <p class="text-left">Price: <label id="route-price"></label></p>
          </div>
          <div class="col-md-10 row pull-left text-center">
            <p class="col-md-4 pull-left">
              <b id="route-attachment-time"></b> wait time between flights
            </p>
            <div class="col-md-8">
              <p class="col-md-6">
                Depart on
                <b><time id="route-departure"></time></b>
              </p>
              <p class="col-md-6">
                Arrive on
                <b><time id="route-arrival"></time></b>
              </p>
            </div>
          </div>
          <div class="col-md-1">
            <p class="text-right">
              <button id="route-buy" type="button" onclick="location.href='http://google.com'" class="btn">Buy <span class="glyphicon glyphicon-shopping-cart"></span></button>
            </p>
          </div>
        </div>
        <table id="routes-table" class="table table-bordered">
          <thead>
            <tr>
              <td></td>
              <td>Airline</td>
              <td>Departure</td>
              <td>Arrival</td>
              <td>Flight duration</td>
            </tr>
          </thead>
          <tbody>
            <tr id="route-flight" hidden>
              <td id="route-flight-step"></td>
              <td>
                <img id="route-flight-airline-logo" class="airline-logo img-responsive center-block" src="">
                <p id="route-flight-airline-name" class="text-center"></p>
              </td>
              <td>
                <p><strong id="route-flight-departure-airport"></strong></p>
                <p id="route-flight-departure-time"></p>
              </td>
              <td>
                <p><strong id="route-flight-arrival-airport"></strong></p>
                <p id="route-flight-arrival-time"></p>
              </td>
              <td>
                <label id="route-flight-duration"></label>
                <span class="glyphicon glyphicon-send"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
      </div>
    </div>
    <button id="load-more-btn" class="btn-primary col-xs-12" hidden>Load more</button>
  </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{routes.static}}/js/lodash/index.min.js"></script>
  <script src="{{routes.static}}/js/jquery/jquery-2.2.4.js"></script>
  <script src="{{routes.static}}/js/jquery-ui.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{routes.static}}/css/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{routes.static}}/js/ajv.min.js"></script>
  <script src="{{routes.static}}/js/autocomplete-plugin.js"></script>
  <script src="{{routes.static}}/js/json-schemas.js"></script>
  <script src="{{routes.static}}/js/js-yaml/js-yaml.min.js"></script>
  <script src="{{routes.static}}/js/api-methods.js"></script>
  <script src="{{routes.static}}/js/parsers.js"></script>
  <script src="{{routes.static}}/js/main.js"></script>
  <script src="{{routes.static}}/js/search.js"></script>
  <script src="{{routes.static}}/js/dalipeche-plugin/dalipeche.js" type="text/javascript"></script>
</body>
</html>
