<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
  <link href="{{ routes.static }}/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
    {{> heading }}
    {{> menu }}
    <div class="col-md-4 col-md-offset-4">
      <h3 class="text-center">Login</h3>
      <hr>
      <form method="post" action="/login">
        <div class="form-group">
          <div class="form-group fixed-form-height">
            <label for="email-input">Email</label>
            <input id="email-input" class="form-control" placeholder="Email" name="email" type="email">
          </div>
          <div class="form-group fixed-form-height">
            <label for="password-input">Password</label>
            <input id="password-input" class="form-control" name="password" placeholder="Password" type="password">
          </div>
          <div class="form-group fixed-form-height text-center">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
          {{#if errors}}
            <p class="text-center text-danger">
              {{#if errors.LOGIN_UNVERIFIED_EMAIL }}
                Your account is not verified. We sent verification email to <b>{{ errors.LOGIN_UNVERIFIED_EMAIL.email }}</b>.
                If you haven't received it please click <a href="{{errors.LOGIN_UNVERIFIED_EMAIL.link}}">here</a> to resend it.`
              {{else if errors.LOGIN_SUSPENDED_USER }}
                Your account <b>{{ email }}</b> has been suspended.
              {{else if errors.LOGIN_INVALID_CREDENTIALS }}
                Invalid username or password.
              {{else}}
                An unknown error occurred, please refresh the page.
              {{/if}}
            </p>
          {{/if}}
          {{#each login_messages}}
            <p class="text-center text-success">{{this}}</p>
          {{/each}}
        </div>
      </form>
      <p class="text-center"><a href="{{routes.register}}">Don't have an account? Register -></a></p>
      <p class="text-center"><a href="{{routes.reset_password}}">Forgotten password?</a></p>
    </div>
  </div>
  <script src="{{routes.static}}/js/jquery/jquery-2.2.4.js"></script>
  <script src="{{routes.static}}/css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
