<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="{{routes.static}}/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{routes.static}}/css/jquery-ui.css" rel="stylesheet">
  <link href="{{routes.static}}/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  {{> heading }}
  {{> menu }}
  <div class="row container">
    <h3 class="row">Add new subscription:</h3>
    <form class="row form" id="subscribe-form">
      <div class="form-group form-horizontal row">
        <div class="col-md-6">
          <label for="subscribe-airport-from">From airport:</label>
          <input id="subscribe-airport-from" class="form-control airport-select" name="from" type="text"
                 placeholder="Sofia Airport" list="airports-list" required>
        </div>
        <div class="col-md-6">
          <label for="subscribe-airport-to">To airport:</label>
          <input id="subscribe-airport-to" name="to" class="form-control airport-select" type="text"
                 placeholder="Haneda" list="airports-list" required>
        </div>
      </div>
      <div class="form-group form-horizontal row">
        <div class="col-md-6">
          <label for="subscribe-date-from">Earliest departure date:</label>
          <input id="subscribe-date-from" class="form-control date-select" name="date-from" type="text"
                 placeholder="{{today}}" required>
        </div>
        <div class="col-md-6">
          <label for="subscribe-date-to">Latest arrival date:</label>
          <input id="subscribe-date-to" name="date-to" class="form-control date-select" type="text"
                 placeholder="{{next_month}}" required>
        </div>
      </div>
      <div class="form-group form-horizontal row">
        <div class="col-md-4">
          <label for="subscribe-plan">Subscription plan:</label>
          <select id="subscribe-plan" name="plan" class="form-control" required>
            <option>daily</option>
            <option>weekly</option>
            <option>monthly</option>
          </select>
        </div>
        <div class="col-md-8">
        </div>
      </div>
      <div class="text-center">
        <button id="subscribe-clear-btn" class="col-md-4 btn btn-danger" type="button">Clear</button>
        <button id="subscribe-submit-btn" class="col-md-8 btn btn-primary" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
  <hr>
  {{> messages }}
  <ul class="nav nav-tabs row">
    <li role="presentation">
      <a id="display-subscriptions-btn" class="btn" role="button">Subscriptions</a>
    </li>
    <li role="presentation">
      <a id="display-credit-history-btn" class="btn" role="button">History of taxing</a>
    </li>
    <li role="presentation">
      <a id="display-deposit-history-btn" class="btn" role="button">History of deposits</a>
    </li>
  </ul>
  <div class="row" style="min-height: 800px;">
    <div id="subscriptions-tab" class="container collapse">
      <!--<h3>Your subscriptions:</h3>-->
      <form id="search-subscriptions" class="row">
        <div class="form-group">
          <label for="search-airport-from" class="sr-only">From</label>
          <input id="search-airport-from" class="form-control airport-select" name="fly_from" type="text"
                 placeholder="Sofia" list="airports-list">
        </div>
        <div class="form-group">
          <label for="search-airport-to" class="sr-only">To</label>
          <input id="search-airport-to" name="fly_to" class="form-control airport-select" type="text"
                 placeholder="Haneda" list="airports-list">
        </div>
        <div class="form-group">
          <button id="search-subscriptions-btn" class="btn btn-primary pull-right">Filter</button>
        </div>
      </form>
      <table id="subscriptions-table" class="table table-bordered row">
        <thead>
        <tr>
          <th class="sortable-column text-center" data-column="fly_from" data-order=""><a>
            Airport from
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="fly_to" data-order=""><a>
            Airport to
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="date_from" data-order=""><a>
            Date from
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="date_to" data-order=""><a>
            Date to
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="plan" data-order=""><a>
            Plan
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th><a>Options</a></th>
        </tr>
        </thead>
        <tbody>
        <tr id="subscription-edit-mode" hidden>
          <td>
            <input id="subscription-edit-mode-airport-from" class="form-control" name="from" type="text"
                   list="airports-list" placeholder="Sofia" required>
          </td>
          <td>
            <input id="subscription-edit-mode-airport-to" class="form-control" name="to" type="text"
                   list="airports-list" placeholder="Sofia" required>
          </td>
          <td>
            <input id="subscription-edit-mode-date-from" class="form-control" name="date-from" type="text"
                   placeholder="{{today}}" value="" required>
          </td>
          <td>
            <input id="subscription-edit-mode-date-to" class="form-control" name="date-to" type="text"
                   placeholder="{{next_month}}" value="" required>
          </td>
          <td>
            <input id="subscription-edit-mode-plan" class="form-control" name="plan" type="text"
                   placeholder="daily" value="" required>
          </td>
          <td>
            <button id="subscription-edit-mode-save-btn" type="button" class="btn btn-primary">Save</button>
            <button id="subscription-edit-mode-cancel-btn" type="button" class="btn btn-default">Cancel</button>
            <button id="subscription-edit-mode-remove-btn" type="button" class="btn btn-danger">Remove</button>
          </td>
        </tr>
        <tr id="subscription-view-mode" hidden>
          <td id="subscription-view-mode-airport-from" class="text-left"></td>
          <td id="subscription-view-mode-airport-to" class="text-left"></td>
          <td id="subscription-view-mode-date-from" class="text-left"></td>
          <td id="subscription-view-mode-date-to" class="text-left"></td>
          <td id="subscription-view-mode-plan" class="text-left"></td>
          <td>
            <button id="subscription-view-mode-search-btn" type="button" class="btn btn-primary">Search</button>
            <button id="subscription-view-mode-edit-btn" type="button" class="btn btn-primary">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button id="subscriptions-load-more-btn" class="btn btn-primary btn-block row">Load more</button>
      <p id="no-subscriptions-msg" class="text-center collapse row">No subscriptions found</p>
    </div>
    <div id="credit-history-tab" class="container collapse">
      <form id="search-credit-history" class="row">
        <div class="form-group form-horizontal row">
          <div class="col-md-6">
            <label for="search-ch-fly-from">Airport from:</label>
            <input id="search-ch-fly-from" class="form-control airport-select" name="from" type="text"
                   placeholder="Sofia" list="airports-list">
          </div>
          <div class="col-md-6">
            <label for="search-ch-fly-to">Airport to:</label>
            <input id="search-ch-fly-to" name="to" class="form-control airport-select" type="text"
                   placeholder="Haneda" list="airports-list">
          </div>
        </div>
        <div class="form-group form-horizontal row">
          <div class="col-md-6">
            <label for="search-ch-date-from">Earliest departure date:</label>
            <input id="search-ch-date-from" class="form-control date-select" name="date-from"
                   type="text" placeholder="{{last_month}}">
          </div>
          <div class="col-md-6">
            <label for="search-ch-date-to">Latest arrival date:</label>
            <input id="search-ch-date-to" name="date-to" class="form-control date-select"
                   type="text" placeholder="{{today}}">
          </div>
        </div>
        <div class="form-group form-horizontal row">
          <div class="col-md-6">
            <label for="search-ch-transferred_from">Transferred after</label>
            <input id="search-ch-transferred_from" name="transferred_from" class="form-control date-select"
                   type="text" placeholder="{{last_month}}">
          </div>
          <div class="col-md-6">
            <label for="search-ch-transferred_to">Transferred until</label>
            <input id="search-ch-transferred_to" name="transferred_to" class="form-control date-select"
                   type="text" placeholder="{{today}}">
          </div>
        </div>
        <div class="form-group form-horizontal row">
          <div class="col-md-4">
            <label for="search-ch-status">Subscription status: </label>
            <select id="search-ch-status" name="status" class="form-control">
              <option value="any">Any</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="search-ch-transfer-amount">Taxed amount:</label>
            <input id="search-ch-transfer-amount" name="transfer_amount" class="form-control"
                   type="number" min="0">
          </div>
          <div class="col-md-4">
            <label for="search-ch-transfer-amount-operator">
              Comparison for taxed amount
            </label>
            <select id="search-ch-transfer-amount-operator" name="transfer_amount_operator" class="form-control">
              <option value="<">Larger than</option>
              <option value=">">Less than</option>
              <option value="=">Equal to</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="search-ch-group-by-active">Group by status</label>
          <input id="search-ch-group-by-active" name="group_by_active" type="checkbox" value="default">
        </div>
        <div class="form-group">
          <label for="search-ch-group-by-reason">Group by reason</label>
          <input id="search-ch-group-by-reason" name="group_by_reason" type="checkbox" value="default">
        </div>
        <div class="form-group">
          <label for="search-ch-transferred-at-grouping">Group by transferred at</label>
          <select id="search-ch-transferred-at-grouping" name="transferred_at_date_groupings" class="form-control">
            <option value=""></option>
            <option value="year">Year</option>
            <option value="month">Month</option>
            <option value="day">Day</option>
          </select>
        </div>
        <div class="form-group">
          <button id="export-credit-history-table-btn" class="btn pull-right" type="button">Export table</button>
          <button id="export-credit-history-btn" class="btn pull-right" type="button">Export</button>
          <button id="search-credit-history-btn" class="btn btn-primary pull-right" type="submit">Filter</button>
        </div>
      </form>
      <table id="credit-history-table" class="table table-bordered row">
        <thead>
        <tr>
          <th class="sortable-column text-center" data-column="transferred_at" data-order=""><a>
            Transfer
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="text-center">
            Airport from
          </th>
          <th class="text-center">
            Airport to
          </th>
          <th class="sortable-column text-center" data-column="date_from" data-order=""><a>
            Date from
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="date_to" data-order=""><a>
            Date to
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="active" data-order=""><a>
            Status
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="transfer_amount" data-order=""><a>
            Amount
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
          <th class="sortable-column text-center" data-column="reason" data-order=""><a>
            Reason
            <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
          </a></th>
        </tr>
        </thead>
        <tbody>
        <tr id="credit-history-template-row" class="collapse">
          <td id="credit-transferred-at" class="text-left"></td>
          <td id="credit-airport-from" class="text-left"></td>
          <td id="credit-airport-to" class="text-left"></td>
          <td id="credit-date-from" class="text-left"></td>
          <td id="credit-date-to" class="text-left"></td>
          <td id="credit-subscr-status" class="text-left"></td>
          <td id="credit-transfer-amount" class="text-right"></td>
          <td id="credit-reason" class="text-left"></td>
        </tr>
        </tbody>
      </table>
      <button id="credit-history-load-more-btn" class="btn btn-primary btn-block row">Load more</button>
      <p id="no-credit-history-msg" class="text-center collapse row">No credit transactions found.</p>
    </div>
    <div id="deposit-history-tab" class="container collapse">
      <form id="search-deposit-history" class="row">
        <div class="form-group">
          <input id="from-deposit-date" class="form-control date-select" name="from" type="text"
                 placeholder="{{last_month}}">
        </div>
        <div class="form-group">
          <input id="to-deposit-date" name="to" class="form-control date-select" type="text"
                 placeholder="{{today}}">
        </div>
        <div class="form-group">
          <button id="search-deposit-history-btn" class="btn btn-primary pull-right" type="submit">Filter</button>
        </div>
      </form>
      <table id="deposit-history-table" class="table table-bordered row">
        <thead>
          <tr>
            <td class="text-center sortable-column" data-column="" data-order="null">
              <a>
                <b>Deposited on</b>
                <span class="glyphicon glyphicon-sort"></span>
              </a>
            </td>
            <td class="text-center sortable-column" data-column="" data-order="null">
              <a>
                <b>Amount</b><span class="glyphicon glyphicon-sort"></span>
              </a>
            </td>
            <td class="text-center sortable-column" data-column="" data-order="null">
              <a>
                <b>Reason</b><span class="glyphicon glyphicon-sort"></span>
              </a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr id="deposit-history-template-row" class="collapse">
            <td id="deposited-on" class="text-left"></td>
            <td id="deposit-amount" class="text-right"></td>
            <td id="deposit-reason" class="text-left"></td>
          </tr>
        </tbody>
      </table>
      <button id="deposit-history-load-more-btn" class="btn btn-primary btn-block row">Load more</button>
      <p id="no-deposit-history-msg" class="text-center collapse row">No deposits found.</p>
    </div>
  </div>
</div>
<div id='confirm-unsubscribe-modal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cu-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 id="cu-modal-label" class="modal-title">Unsubscribe</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to unsubscribe from subscription between airports:<br>
          <b id="cu-modal-fly-from"></b> and <b id="cu-modal-fly-to"></b><br>
          on dates <time id="cu-modal-date-from" datetime=""></time> - <time id="cu-modal-date-to" datetime=""></time>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="cu-modal-confirm-btn" type="button" class="btn btn-primary" data-dismiss="modal">Unsubscribe</button>
      </div>
    </div>
  </div>
</div>
<datalist id="airports-list"></datalist>
<script src="{{routes.static}}/js/lodash/index.min.js"></script>
<script src="{{routes.static}}/js/jquery/jquery-2.2.4.js"></script>
<script src="{{routes.static}}/css/bootstrap/js/bootstrap.min.js"></script>
<script src="{{routes.static}}/js/jquery-ui.min.js"></script>
<script src="{{routes.static}}/js/autocomplete-plugin.js"></script>
<script src="{{routes.static}}/js/ajv.min.js"></script>
<script src="{{routes.static}}/js/js-yaml/js-yaml.min.js"></script>
<script src="{{routes.static}}/js/json-schemas.js"></script>
<script src="{{routes.static}}/js/api-methods.js"></script>
<script src="{{routes.static}}/js/parsers.js"></script>
<script src="{{routes.static}}/js/main.js"></script>
<script src="{{routes.static}}/js/profile.js" type="text/javascript"></script>
</body>
</html>
